{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="book">Book Name:</label>
        {{ form_widget(form.BkName,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Book name'
            }
        }) }}
    </div>

    <div class="form-group">
        <label for="book">Chapter</label>
        {{ form_widget(form.Chapter,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Chapter'
            }
        }) }}
    </div>

    <div class="form-group">
        <label for="Content">Content</label>
        {{ form_widget(form.Content,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Detail'
            }
        }) }}
    </div>

    <input type="submit" name="create_book" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}
