{% extends 'base.html.twig' %}

{% block body %}
   <div class="row pl-0 pb-5 mr-6 mr-2">
    <div class="container-fluid col-md-15">    <button class="text-center pt-4 text-muted"><a href="{{ path('app_book') }}">Go back</a> </button>
    </div>
    <div class="col-12 text-center">
      <h1>Title: {{ detail.name }}</h1>
   </div>
   <div class="container-fluid col-md-4">
         <div>
            <div class="card" style="width: 30rem;">
               <td><h1>Genre:{{ detail.genre.name }}</h1></td>
            </div>
            <br>
            <div class="card" style="width: 30rem;">
               <td><h1>Author:{{ detail.Author.name }}</h1></td>
            </div>
            <br>
            <div class="card" style="width: 30rem;">
               <td><h1>Date:{{ detail.date|date('jS F, Y')}}</h1></td>
            </div>
         </div>
   </div>
   <div class="container-fluid col-md-8">
        <div align="center">
            {% if detail.image ??'' == '' %}
                <img src="/img/no-img.png" style="height: 500px">
            {% else %}
                <img src="{{ detail.image ?? '' }}" style="height: 240px">
            {% endif %}
        </div>
   </div>
    <div class="form-group container-fluid col-md-8" align="center">
        <label for="exampleFormControlTextarea1">Content:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="20">{{ detail.content }}</textarea>
    </div>
{% endblock %}